.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 14px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
  background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
  background-image: -o-linear-gradient(top,#fff,#e6e6e6);
  background-image: linear-gradient(to bottom,#fff,#e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe5e5e5', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #e6e6e6;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #bbb;
  *border: 0;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 9px 14px;
  font-size: 16px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-large [class^="icon-"] {
  margin-top: 2px;
}
.btn-small {
  padding: 3px 9px;
  font-size: 12px;
  line-height: 18px;
}
.btn-small [class^="icon-"] {
  margin-top: 0;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 16px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255,255,255,0.75);
}
.btn {
  border-color: #c5c5c5;
  border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
}
.btn-primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top,#08c,#0044cc);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0044cc));
  background-image: -webkit-linear-gradient(top,#08c,#0044cc);
  background-image: -o-linear-gradient(top,#08c,#0044cc);
  background-image: linear-gradient(to bottom,#08c,#0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0043cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #0044cc;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #fff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}
.btn-warning {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #faa732;
  background-image: -moz-linear-gradient(top,#fbb450,#f89406);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));
  background-image: -webkit-linear-gradient(top,#fbb450,#f89406);
  background-image: -o-linear-gradient(top,#fbb450,#f89406);
  background-image: linear-gradient(to bottom,#fbb450,#f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffab44f', endColorstr='#fff89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #f89406;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #fff;
  background-color: #f89406;
  *background-color: #df8505;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}
.btn-danger {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top,#ee5f5b,#bd362f);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
  background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f);
  background-image: -o-linear-gradient(top,#ee5f5b,#bd362f);
  background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #bd362f;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #fff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}
.btn-success {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top,#62c462,#51a351);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
  background-image: -webkit-linear-gradient(top,#62c462,#51a351);
  background-image: -o-linear-gradient(top,#62c462,#51a351);
  background-image: linear-gradient(to bottom,#62c462,#51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #51a351;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #fff;
  background-color: #51a351;
  *background-color: #499249;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
.btn-info {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top,#5bc0de,#2f96b4);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
  background-image: -webkit-linear-gradient(top,#5bc0de,#2f96b4);
  background-image: -o-linear-gradient(top,#5bc0de,#2f96b4);
  background-image: linear-gradient(to bottom,#5bc0de,#2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #2f96b4;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #fff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
.btn-inverse {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #363636;
  background-image: -moz-linear-gradient(top,#444,#222);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));
  background-image: -webkit-linear-gradient(top,#444,#222);
  background-image: -o-linear-gradient(top,#444,#222);
  background-image: linear-gradient(to bottom,#444,#222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  border-color: #222 #222 #000000;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #222;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #fff;
  background-color: #222;
  *background-color: #151515;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #090909 \9;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.btn-link,
.btn-link:active {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: #08c;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-link:hover {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}
a,
a:hover {
  text-decoration: none;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
.page-header {
  padding-bottom: 10px;
  margin: 0 0 20px;
}
.entry-meta.muted {
  background: #dbdbdb;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 12px;
}
.entry-meta.muted >span,
.entry-meta.muted >time {
  margin: 0 5px;
}
.entry-meta ul {
  margin: 0 5px;
}
.entry-meta ul.actions {
  float: right;
}
.entry-meta ul.actions li {
  display: inline-block;
}
.entry-meta ul.actions li.print-icon a::before {
  content: "\f02f";
}
.entry-meta ul.actions li.email-icon a::before {
  content: "\f003";
}
.entry-meta ul.actions li.edit-icon a::before {
  content: "\f044";
}
.entry-meta ul.actions li a {
  font-family: FontAwesome;
  display: block;
  font-size: 14px;
  margin-left: 5px;
}
.entry-meta ul.actions li a img {
  display: none;
}
.entry-meta ul.actions li a span {
  display: none;
}
ul.pagenav {
  list-style: none;
  padding: 0;
  clear: both;
  margin-top: 10px;
  margin-left: 0;
  overflow: hidden;
}
ul.pagenav .pagenav-prev {
  float: left;
}
ul.pagenav .pagenav-next {
  float: right;
}
dl dt,
dl dd {
  display: inline;
}
label.invalid {
  color: #c83025;
}
#editor-xtd-buttons {
  display: inline-block;
  margin-right: 10px;
}
.button2-left {
  display: inline-block;
  margin-right: 10px;
  margin-top: 15px;
}
.toggle-editor {
  display: inline-block;
}
.edit .modal {
  position: inherit;
  top: auto;
  left: auto;
  width: auto;
  margin-left: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
}
@font-face {
  font-family: 'museo_sans500';
  src: url('../fonts/museosans_500-webfont.eot');
  src: url('../fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museosans_500-webfont.woff') format('woff'), url('../fonts/museosans_500-webfont.ttf') format('truetype'), url('../fonts/museosans_500-webfont.svg#museo_sans500') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mission";
  src: url('../fonts/mission-script_0-webfont.eot');
  src: url('../fonts/mission-script_0-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mission-script_0-webfont.woff') format('woff'), url('../fonts/mission-script_0-webfont.ttf') format('truetype'), url('../fonts/mission-script_0-webfont.svg#mission_scriptregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bebas';
  src: url('../fonts/bebas_-webfont.eot');
  src: url('../fonts/bebas_-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bebas_-webfont.woff') format('woff'), url('../fonts/bebas_-webfont.ttf') format('truetype'), url('../fonts/bebas_-webfont.svg#bebasregular') format('svg');
  font-weight: bold;
  font-style: normal;
}
.center {
  text-align: center;
}
.center th,
.center tr,
.center td {
  text-align: center;
}
.row-fluid {
  margin-bottom: 20px;
}
.row-fluid:first-child {
  margin-bottom: 0;
}
.sp-mobile-menu {
  z-index: 10;
}
ul.gallery li {
  -webkit-transform: translateZ(0);
}
#sp-top-wrapper {
  background: #000;
  padding-bottom: 1px;
  max-width: 100%;
}
#sp-top-wrapper .container {
  background: none;
}
#sp-top-wrapper .tcvn-header-top-marquee {
  background: #000 !important;
  border-bottom: 0 !important;
}
#sp-top-wrapper .tcvn-header-top-marquee .tcvn-marquee {
  padding: 10px 0;
}
#sp-top-wrapper .tcvn-header-top-marquee span.vina-br {
  top: 0;
  height: 74px;
  position: absolute;
  width: 59px;
  z-index: 9;
}
#sp-top-wrapper .tcvn-header-top-marquee a {
  color: #fff !important;
}
#sp-top-wrapper #tcvn-copyright145 {
  display: none;
}
#sp-header-wrapper #header {
  background: #fff;
  padding: 10px 0;
}
#sp-header-wrapper .logo-wrapper .logo {
  background-position: 0 50%;
  background-repeat: no-repeat;
  margin-left: 65px;
}
#sp-header-wrapper .logo-wrapper a:focus {
  outline: none;
}
#sp-header-wrapper .logo-wrapper .logo-text {
  font-size: 24px;
}
#sp-header-wrapper .logo-wrapper .logo-slogan {
  font-size: 11px;
}
#sp-header-wrapper .search {
  margin-top: 10px;
}
#sp-header-wrapper .search form {
  margin: 0;
}
.vina_mncontact {
  margin-bottom: 0;
  padding: 5px 0;
}
.vina_mncontact li:last-child >a {
  padding-right: 0;
  margin-right: 0;
}
.vina_mncontact li:last-child >a:after {
  width: 0;
}
.vina_mncontact li.active a {
  background: none;
  outline: none;
}
.vina_mncontact li.active a:hover,
.vina_mncontact li.active a:focus {
  background: none;
  outline: none;
}
.vina_mncontact li a {
  position: relative;
  z-index: 1;
  padding: 8px 15px 8px 14px;
  margin: 0;
}
.vina_mncontact li a:hover,
.vina_mncontact li a:focus {
  background: none;
  outline: none;
}
.vina_mncontact li a:after {
  height: 10px;
  position: absolute;
  z-index: -1;
  content: "";
  top: 10px;
  width: 1px;
  right: 0;
  background: #C7C7C7;
}
#sp-search .search {
  margin-bottom: 0;
}
#sp-search .search form {
  margin-bottom: 0;
}
#sp-search .search form .btn {
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  z-index: 0;
  position: relative;
  text-shadow: none;
  vertical-align: middle;
  overflow: hidden;
  background: none;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  padding: 15px 15px 15px;
}
#sp-search .search form .btn:after {
  bottom: 50%;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  -webkit-transition: all 600ms ease 0s;
  -moz-transition: all 600ms ease 0s;
  -o-transition: all 600ms ease 0s;
  transition: all 600ms ease 0s;
  width: 100%;
  z-index: -1;
}
#sp-search .search form .btn:hover:after,
#sp-search .search form .btn:focus:after {
  bottom: 0;
  height: 100%;
  width: 100%;
}
#sp-search .search form .btn:after {
  -webkit-transform: scale(3) rotate(45deg);
  -moz-transform: scale(3) rotate(45deg);
  -o-transform: scale(3) rotate(45deg);
  transform: scale(3) rotate(45deg);
  left: 5px;
}
#sp-search .search form .btn .icon-search {
  color: #fff;
}
#sp-search .search form input {
  background-color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding-left: 14px;
  display: inline-block;
  margin-right: 12px;
  margin-top: 2px;
  width: 198px;
}
.body-innerwrapper {
  overflow-x: hidden;
}
#sp-main-body-wrapper .container-fluid {
  padding: 20px;
}
#sp-feature-wrapper {
  color: #fff;
  padding: 20px 0;
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
}
#sp-feature-wrapper.vina-feature:before {
  width: 100%;
  height: 100%;
  bottom: -18px;
  content: " ";
  z-index: 1;
  -webkit-transform: translateZ(0);
  position: absolute;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  background-size: 8px 328px;
  background-position: center bottom;
}
#sp-feature-wrapper.vina-feature:after {
  position: absolute;
  -webkit-transform: translateZ(0);
  content: "";
  z-index: 1;
  bottom: -23px;
  width: 100%;
  height: 12px;
  background-size: 14px 17px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#sp-feature-wrapper #sp-feature {
  z-index: 1;
  position: relative;
}
#sp-position-wrapper >.container >.clearfix {
  padding: 0 20px;
}
.tcvn-slit-slider {
  padding: 5px;
  background: #fff;
}
.tcvn-slit-slider .sl-slider-wrapper {
  height: 366px !important;
}
.tcvn-slit-slider .sl-slider-wrapper .nav-arrows span {
  z-index: 1000;
}
.tcvn-slit-slider .sl-slider-wrapper .sl-slider {
  height: 366px !important;
}
.tcvn-slit-slider .sl-slider-wrapper .bg-img {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center top;
  left: 0;
  top: 0;
  position: relative;
  padding: 0;
}
.tcvn-slit-slider .sl-slider-wrapper .bg-img .slit-text {
  position: absolute;
  top: 100px;
  left: 100px;
  width: auto;
}
.tcvn-slit-slider .sl-slider-wrapper .bg-img .slit-text h2 {
  padding: 0 !important;
  margin: 0;
}
.tcvn-slit-slider .sl-slider-wrapper .bg-img .slit-text h2 span {
  font-size: 48px;
  font-family: "mission";
  background: rgba(0,0,0,0.8);
  padding: 5px 15px !important;
}
.tcvn-slit-slider .sl-slider-wrapper .bg-img .slit-text blockquote {
  border-left: 0;
  margin-top: 40px;
  max-width: 960px;
  padding: 15px 15px 36px;
  position: relative;
  margin-bottom: 15px;
  background: rgba(0,0,0,0.5);
  width: 55%;
  margin-left: 0px;
}
.tcvn-slit-slider .sl-slider-wrapper .bg-img .slit-text blockquote p {
  font-size: 14px;
}
.tcvn-slit-slider .sl-slider-wrapper .bg-img .slit-text .buttonlight.morebutton {
  padding: 7px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  z-index: 0;
  position: relative;
  text-shadow: none;
  vertical-align: middle;
  overflow: hidden;
  color: #fff;
}
.tcvn-slit-slider .sl-slider-wrapper .bg-img .slit-text .buttonlight.morebutton:after {
  bottom: 50%;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  -webkit-transition: all 600ms ease 0s;
  -moz-transition: all 600ms ease 0s;
  -o-transition: all 600ms ease 0s;
  transition: all 600ms ease 0s;
  width: 100%;
  z-index: -1;
}
.tcvn-slit-slider .sl-slider-wrapper .bg-img .slit-text .buttonlight.morebutton:hover:after,
.tcvn-slit-slider .sl-slider-wrapper .bg-img .slit-text .buttonlight.morebutton:focus:after {
  bottom: 0;
  height: 100%;
  width: 100%;
}
.tcvn-slit-slider .sl-slider-wrapper .bg-img .slit-text .buttonlight.morebutton:hover {
  text-decoration: inherit;
}
#sp-users-wrapper #users {
  background: #fff;
}
#sp-users-wrapper #users p {
  margin: 0;
}
.sp-user.media {
  overflow: inherit;
}
.sp-user:hover .ic {
  -webkit-box-shadow: 0 0 0 8px #f2f2f2;
  -moz-box-shadow: 0 0 0 8px #f2f2f2;
  box-shadow: 0 0 0 8px #f2f2f2;
}
.sp-user .ic {
  width: 100px;
  margin-top: 22px;
  height: 100px;
  -webkit-box-shadow: 0 0 0 4px #777777;
  -moz-box-shadow: 0 0 0 4px #777777;
  box-shadow: 0 0 0 4px #777777;
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
  font-size: 0;
}
.sp-user .media-heading {
  font-family: bebas;
  margin: 10px 0;
  font-weight: normal;
  text-transform: uppercase;
}
.vina_promotion {
  padding: 35px 0px 30px;
}
.vina_promotion h1 {
  text-transform: uppercase;
  font-family: bebas;
  font-size: 30px;
}
.vina_promotion button {
  margin-top: 27px;
  padding: 9px 30px;
  float: right;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  z-index: 0;
  position: relative;
  text-shadow: none;
  vertical-align: middle;
  overflow: hidden;
}
.vina_promotion button:after {
  bottom: 50%;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  -webkit-transition: all 600ms ease 0s;
  -moz-transition: all 600ms ease 0s;
  -o-transition: all 600ms ease 0s;
  transition: all 600ms ease 0s;
  width: 100%;
  z-index: -1;
}
.vina_promotion button:hover:after,
.vina_promotion button:focus:after {
  bottom: 0;
  height: 100%;
  width: 100%;
}
.vina_promotion button:after {
  -webkit-transform: scale(3) rotate(45deg);
  -moz-transform: scale(3) rotate(45deg);
  -o-transform: scale(3) rotate(45deg);
  transform: scale(3) rotate(45deg);
}
.tcvn-scroller-k2.theme1 {
  max-width: 100%;
}
.tcvn-scroller-k2.theme1 .bw {
  display: none !important;
  left: 4px !important;
}
.tcvn-scroller-k2.theme1 .main-container {
  border: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding-top: 50px !important;
  padding: 0 !important;
}
.tcvn-scroller-k2.theme1 h3 {
  min-height: 52px;
  line-height: 22px;
  margin-top: 23px;
}
.tcvn-scroller-k2.theme1 .slide {
  text-align: left;
}
.tcvn-scroller-k2.theme1 .slide:hover .thumb {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.tcvn-scroller-k2.theme1 .toolbar {
  position: absolute;
  right: 27px;
  top: -52px;
}
.tcvn-scroller-k2.theme1 .toolbar .left,
.tcvn-scroller-k2.theme1 .toolbar .right {
  background: none;
  right: 0;
  top: 0;
}
.tcvn-scroller-k2.theme1 .toolbar .left i:before,
.tcvn-scroller-k2.theme1 .toolbar .right i:before {
  font-size: 34px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.tcvn-scroller-k2.theme1 .toolbar .left:hover i:before {
  margin-left: -8px;
}
.tcvn-scroller-k2.theme1 .toolbar .right:hover i:before {
  margin-left: 8px;
}
.vina-testimonal .item {
  float: left;
}
.vina-testimonal .item .item-i {
  color: #4F4F4F;
  float: left;
  font-size: 60px;
  font-style: normal;
  font-weight: bold;
  line-height: 52px;
  margin-bottom: -20px;
  margin-right: 14px;
  padding-top: 11px;
}
.vina-testimonal .item p {
  font-style: italic;
  color: #A0A0A0;
  line-height: 20px;
}
.vina-testimonal .item .director {
  font-style: normal;
  font-weight: bold;
  margin-top: 15px;
  text-align: right;
  color: #A0A0A0;
  padding-top: 24px;
}
.vina-testimonal .item .director span {
  color: #4F4F4F;
}
.vina-testimonal .carousel-control {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 0;
}
.vina-testimonal .carousel-control.left,
.vina-testimonal .carousel-control.right {
  font-size: 25px;
  left: auto;
  line-height: 16px;
  position: absolute;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  top: -32px;
  width: 20px;
  color: #fff;
  height: 20px;
}
.vina-testimonal .carousel-control.left {
  right: 22px;
}
.vina-testimonal .carousel-control.right {
  right: 0;
}
#sp-position2 {
  margin-bottom: 15px;
}
.custom.vina_oursv {
  margin-top: -7px;
}
.custom.vina_oursv .accordion-inner {
  border-top: 0;
}
.custom.vina_oursv .accordion {
  margin-bottom: 0;
}
.custom.vina_oursv .accordion-group {
  overflow: hidden;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.custom.vina_oursv .accordion-body.collapse.in {
  overflow: visible;
}
.custom.vina_oursv .accordion-body.collapse.in:after {
  content: "\f056";
  font-family: FontAwesome;
  position: absolute;
  z-index: 0;
  font-size: 27px;
  top: -38px;
  left: 1px;
  color: #4d4e50;
}
.custom.vina_oursv .accordion-toggle {
  position: relative;
  z-index: 1;
  color: #4d4e50;
  font-size: 105%;
  height: 25px;
  font-weight: bold;
  padding: 13px 0 12px 30px;
}
.custom.vina_oursv .accordion-toggle:focus {
  outline: none;
  text-decoration: inherit;
}
.custom.vina_oursv .accordion-toggle:before {
  position: absolute;
  z-index: -1;
  width: 100%;
  content: "\f055";
  top: 12px;
  left: 1px;
  height: 100%;
  font-size: 27px;
  font-family: FontAwesome;
}
.custom.vina_oursv .accordion-toggle.collapsed:before {
  content: "\f055";
}
ul.breadcrumb {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  background: transparent;
}
.pagination ul > li.pagination-active > a,
.pagination ul > li.pagination-active > span {
  background-color: #F5F5F5;
}
.vina-icon ul li p i {
  width: 15px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  margin-left: 1px;
}
.vina-icon ul li p:hover i {
  font-size: 17px;
}
.page-header {
  font-size: 30px;
}
.sp-border {
  position: relative;
}
.sp-border::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
#sp-bottom-wrapper {
  position: relative;
}
#sp-bottom-wrapper:before {
  width: 100%;
  height: 100%;
  content: " ";
  z-index: -100;
  -webkit-transform: translateZ(0);
  position: absolute;
}
#sp-bottom-wrapper:after {
  position: absolute;
  content: "";
  z-index: 1;
  top: -12px;
  width: 100%;
  height: 12px;
  background-size: 14px 17px;
}
#sp-bottom-wrapper .container {
  padding-top: 34px;
  background: none;
  padding-bottom: 40px;
  color: #fff;
}
#sp-bottom-wrapper ul.nav li a {
  color: #fff;
}
.vina-subscribe .input-append {
  margin-top: 15px;
}
.vina-subscribe .input-append #appendedInputButton {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #fff;
  border: 0;
  padding-left: 14px;
  font-style: italic;
}
.vina-subscribe .input-append .btn {
  border-radius: 0 !important;
  color: #fff;
  border: 0;
  background: #fff;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  z-index: 0;
  position: relative;
  text-shadow: none;
  vertical-align: middle;
  overflow: hidden;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px;
  text-shadow: none;
  font-weight: bold;
}
.vina-subscribe .input-append .btn:after {
  bottom: 50%;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  -webkit-transition: all 600ms ease 0s;
  -moz-transition: all 600ms ease 0s;
  -o-transition: all 600ms ease 0s;
  transition: all 600ms ease 0s;
  width: 100%;
  z-index: -1;
}
.vina-subscribe .input-append .btn:hover:after,
.vina-subscribe .input-append .btn:focus:after {
  bottom: 0;
  height: 100%;
  width: 100%;
}
.vina-menubottom li {
  padding: 3px 0;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.vina-menubottom li a {
  display: inline;
  padding-left: 4px;
}
.vina-menubottom li a:hover,
.vina-menubottom li a:focus {
  background: none;
  outline: none;
}
.vina-menubottom li:hover {
  padding-left: 10px;
}
#sp-footer-wrapper {
  background: #000;
  position: relative;
}
#sp-footer-wrapper .container {
  padding-top: 38px;
  background: none;
  padding-bottom: 38px;
}
#sp-footer-wrapper::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
#sp-footer-wrapper ul li {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
}
color:#999
				#sp-footer-wrapper ul li a:focus {
  background: none !important;
}
#sp-footer-wrapper {
  color: #fff;
}
#sp-footer-wrapper ul {
  display: inline-block;
}
#sp-footer-wrapper ul.nav {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 5px;
}
#sp-footer-wrapper ul.nav li {
  display: inline-block;
  margin: 0 5px;
}
#sp-footer-wrapper ul.nav li a {
  display: block;
  color: #a7a7a7;
}
#sp-footer-wrapper ul.nav li a:hover {
  background: none;
}
#sp-footer-wrapper .sp-totop {
  display: inline-block;
}
#sp-footer-wrapper .sp-totop i {
  color: #fff;
}
#sp-footer-wrapper .sp-totop small {
  display: none;
}
#sp-footer-wrapper .helix-framework {
  display: inline-block;
}
#sp-footer-wrapper .helix-framework .helix-logo {
  display: block;
  width: 130px;
  height: 40px;
  text-indent: -9999px;
  background: url(../images/helix-logo-white.png) no-repeat 0 0;
}
#sp-footer-wrapper .copyright {
  display: block;
}
.ltr #sp-footer-wrapper .helix-framework {
  float: left;
  margin-right: 15px;
}
.ltr #sp-footer-wrapper #sp-footer2 {
  text-align: right;
}
.rtl #sp-footer-wrapper .helix-framework {
  float: right;
  margin-left: 15px;
}
.rtl #sp-footer-wrapper #sp-footer2 {
  text-align: left;
}
.vina-online .header:before {
  content: "\f007";
  font-family: FontAwesome;
  font-size: 34px;
}
#sp-breadcrumb-wrapper {
  padding: 10px 0;
  margin-bottom: 20px;
}
#sp-breadcrumb-wrapper a {
  color: #fff;
}
#sp-breadcrumb-wrapper span {
  color: #fff;
}
#login-form input:not([type='checkbox']) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 8px;
  width: 100%;
}
#login-form .btn {
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  z-index: 0;
  position: relative;
  text-shadow: none;
  vertical-align: middle;
  overflow: hidden;
}
#login-form .btn:after {
  bottom: 50%;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  -webkit-transition: all 600ms ease 0s;
  -moz-transition: all 600ms ease 0s;
  -o-transition: all 600ms ease 0s;
  transition: all 600ms ease 0s;
  width: 100%;
  z-index: -1;
}
#login-form .btn:hover:after,
#login-form .btn:focus:after {
  bottom: 0;
  height: 100%;
  width: 100%;
}
#login-form .unstyled a {
  font-size: 12px;
}
#login-form input[type="checkbox"] {
  display: none;
}
#login-form input[type="checkbox"] + label {
  position: relative;
  z-index: 1;
  padding-left: 30px;
  margin-left: 10px;
  line-height: 28px;
}
#login-form input[type="checkbox"] + label::before {
  content: "\f096";
  color: #bdc3c7;
  text-align: center;
  line-height: 10px;
  font-family: "FontAwesome";
  font-size: 24px;
  width: 16px;
  margin-left: -10px;
  height: 16px;
  padding: 0;
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 0;
}
#login-form input[type="checkbox"]:checked  + label::after {
  content: "\f00c";
  font-family: "FontAwesome";
  font-size: 18px;
  margin-left: -9px;
  top: -1px;
  left: 0;
  color: #4EA770;
  position: absolute;
  z-index: -1;
}
.vina_comments {
  background: #fff;
}
.vina_comments ul {
  margin: 0;
  padding: 0;
}
.vina_comments li {
  list-style: none;
  border-bottom: 0;
  background: #fff;
  padding: 0;
  margin-bottom: 10px;
}
.vina_comments img {
  border: 0;
  padding: 0;
}
.vina_comments .comment_link {
  margin: 0 0 15px;
  background: #f5f5f5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 9px 12px;
  font-size: 13px;
  position: relative;
  z-index: 1;
}
.vina_comments .comment_link:after {
  width: 30px;
  height: 23px;
  background: #f5f5f5;
  position: absolute;
  -webkit-transform: rotate(62deg);
  -moz-transform: rotate(62deg);
  -ms-transform: rotate(62deg);
  -o-transform: rotate(62deg);
  transform: rotate(62deg);
  left: 8px;
  bottom: -4px;
  z-index: -1;
  content: " ";
}
.vina_comments .lcUsername {
  display: block;
  line-height: 30px;
}
.vina_comments .lcUsername a {
  color: #999;
}
.vina_comments .lcCommentDate {
  color: #999;
  font-size: 12px;
}
.vina_comments .lcComment {
  color: #999;
}
.vina-news ul {
  margin: 0;
}
.vina-news li {
  list-style: none;
}
.vina-news li a {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
  color: #999999;
  line-height: 24px;
}
.vina-news li:hover a {
  padding-left: 10px;
}
.vina-btn {
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  z-index: 0;
  position: relative;
  text-shadow: none;
  vertical-align: middle;
  overflow: hidden;
}
.vina-btn:after {
  bottom: 50%;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  -webkit-transition: all 600ms ease 0s;
  -moz-transition: all 600ms ease 0s;
  -o-transition: all 600ms ease 0s;
  transition: all 600ms ease 0s;
  width: 100%;
  z-index: -1;
}
.vina-btn:hover:after,
.vina-btn:focus:after {
  bottom: 0;
  height: 100%;
  width: 100%;
}
.vina-border {
  border: 1px solid #DDDDDD;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: relative;
}
.vina-border .header {
  border-bottom: 1px solid #DDDDDD;
  padding: 10px;
}
.vina-border .vina-modcontent {
  padding: 0 10px;
}
button,
input[type='submit'],
input[type='button'],
submit {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 14px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
  background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
  background-image: -o-linear-gradient(top,#fff,#e6e6e6);
  background-image: linear-gradient(to bottom,#fff,#e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe5e5e5', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #e6e6e6;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #bbb;
  *border: 0;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  border-color: #c5c5c5;
  border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
}
button:hover,
button:active,
button.active,
button.disabled,
button[disabled],
input[type='submit']:hover,
input[type='submit']:active,
input[type='submit'].active,
input[type='submit'].disabled,
input[type='submit'][disabled],
input[type='button']:hover,
input[type='button']:active,
input[type='button'].active,
input[type='button'].disabled,
input[type='button'][disabled],
submit:hover,
submit:active,
submit.active,
submit.disabled,
submit[disabled] {
  color: #333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
button:active,
button.active,
input[type='submit']:active,
input[type='submit'].active,
input[type='button']:active,
input[type='button'].active,
submit:active,
submit.active {
  background-color: #cccccc \9;
}
button:first-child,
input[type='submit']:first-child,
input[type='button']:first-child,
submit:first-child {
  *margin-left: 0;
}
button:hover,
input[type='submit']:hover,
input[type='button']:hover,
submit:hover {
  color: #333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
button:focus,
input[type='submit']:focus,
input[type='button']:focus,
submit:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
button.active,
button:active,
input[type='submit'].active,
input[type='submit']:active,
input[type='button'].active,
input[type='button']:active,
submit.active,
submit:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
button.disabled,
button[disabled],
input[type='submit'].disabled,
input[type='submit'][disabled],
input[type='button'].disabled,
input[type='button'][disabled],
submit.disabled,
submit[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.vina_social p {
  color: #343434;
  font-weight: bold;
  text-align: right;
  width: 100%;
}
.vina_social ul {
  margin: 0;
}
.vina_social ul li {
  margin-right: 8px;
}
.vina_social ul li:last-child {
  margin-right: 0;
}
.vina_social ul li a {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  outline: none;
  text-align: center;
  padding: 0;
  text-decoration: none;
  -webkit-transition: all 500ms linear 0s;
  -moz-transition: all 500ms linear 0s;
  -o-transition: all 500ms linear 0s;
  transition: all 500ms linear 0s;
  overflow: hidden;
  text-shadow: none;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.vina_social ul li a em {
  font-size: 14px;
  -webkit-transition: all 500ms linear 0s;
  -moz-transition: all 500ms linear 0s;
  -o-transition: all 500ms linear 0s;
  transition: all 500ms linear 0s;
  color: #fff;
  font-weight: bold;
  display: block !important;
}
.vina_social ul li a em:before {
  line-height: 30px;
}
.vina_social ul li a:hover {
  background: #fff;
}
.vina_social ul li a:hover em {
  -webkit-animation: moveFromTop 500ms ease;
  -moz-animation: moveFromTop 500ms ease;
  -ms-animation: moveFromTop 500ms ease;
  animation: moveFromTop 500ms ease;
}
#main-body {
  margin-bottom: 33px;
}
.dl-horizontal dd {
  display: block;
  margin-left: 180px;
}
#sp-main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sp-main-menu ul.level-0 > li {
  display: inline-block;
  padding: 0;
  position: relative;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
#sp-main-menu ul.level-0 > li:before {
  -webkit-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  top: -9px;
  position: absolute;
  right: 50%;
}
#sp-main-menu ul.level-0 > li >a {
  text-transform: capitalize;
  display: block;
  margin: 0;
  padding: 15px 20px;
  font-size: 18px;
  border-right: 10px solid #FFFFFF;
  line-height: 20px;
  z-index: 0;
  position: relative;
}
#sp-main-menu ul.level-0 > li >a:after {
  top: 0;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  -webkit-transition: all 600ms ease 0s;
  -moz-transition: all 600ms ease 0s;
  -o-transition: all 600ms ease 0s;
  transition: all 600ms ease 0s;
  width: 100%;
  z-index: -1;
}
#sp-main-menu ul.level-0 > li >a:hover,
#sp-main-menu ul.level-0 > li >a:focus {
  background-color: none;
  text-decoration: inherit;
  outline: none;
}
#sp-main-menu ul.level-0 > li >a:hover:after,
#sp-main-menu ul.level-0 > li >a:focus:after {
  top: 0;
  height: 100%;
  width: 100%;
}
#sp-main-menu ul.level-0 > li >a .menu-desc {
  font-size: 11px;
  color: #000;
  display: block;
}
#sp-main-menu ul.level-0 > li:hover >a,
#sp-main-menu ul.level-0 > li.active >a {
  position: relative;
  z-index: 1;
}
#sp-main-menu ul.level-0 > li:hover >a:after,
#sp-main-menu ul.level-0 > li.active >a:after {
  height: 100%;
}
#sp-main-menu ul.level-0 > li:hover >a span.menu:after,
#sp-main-menu ul.level-0 > li.active >a span.menu:after {
  color: #fff;
}
#sp-main-menu ul.level-0 > li:hover >a {
  text-decoration: initial;
}
#sp-main-menu ul.level-0 > li.parent >a {
  padding: 15px 30px 15px 20px;
}
#sp-main-menu ul.level-0 > li.parent >a:before {
  right: 9px;
  position: absolute;
  font-family: FontAwesome;
  content: "\f101";
}
#sp-main-menu li li:not(.sp-menu-group) {
  display: block;
  border-top: 1px solid #eee;
  position: relative;
  text-transform: capitalize;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
#sp-main-menu li li:not(.sp-menu-group):first-child {
  border-top: none;
}
#sp-main-menu li li:not(.sp-menu-group) a {
  display: block;
  font-size: 12px;
  line-height: normal;
  text-decoration: none;
  -webkit-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  padding: 10px;
  color: #000;
}
#sp-main-menu li li:not(.sp-menu-group) a:hover {
  padding-left: 20px;
}
#sp-main-menu li li:not(.sp-menu-group).parent >a span.menu {
  position: relative;
  padding-right: 20px;
  display: block;
}
#sp-main-menu li li:not(.sp-menu-group).parent >a:after {
  content: "\f101";
  font-family: FontAwesome;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  right: 10px;
  top: 10px;
}
#sp-main-menu li li:not(.sp-menu-group):hover,
#sp-main-menu li li:not(.sp-menu-group).active {
  background: #f5f5f5;
}
#sp-main-menu div.sp-menu-group {
  margin: 10px;
}
#sp-main-menu div.sp-menu-group a.sp-menu-group {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: #666;
}
#sp-main-menu div.sp-menu-group a.sp-menu-group .menu-title {
  text-transform: uppercase;
}
#sp-main-menu div.sp-menu-group .sp-menu-group-content .module {
  margin: 0;
  padding: 10px 0 0;
  text-transform: none;
  font-size: 14px;
}
#sp-main-menu div.sp-menu-group .sp-menu-group-content .module h4 {
  font-size: 14px;
}
.sp-submenu {
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  -webkit-transition: all 500ms ease-in-out 0s;
  -moz-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
  transition: all 500ms ease-in-out 0s;
}
.sp-submenu.sub-level {
  top: 35px !important;
  padding-top: 15px;
}
.sp-submenu.sub-level-child {
  margin-top: 30px;
}
.sp-submenu.open {
  z-index: 99999;
  visibility: visible;
  opacity: 1;
  margin-top: 0;
  -webkit-animation: bounceIn 500ms linear;
  -moz-animation: bounceIn 500ms linear;
  -ms-animation: bounceIn 500ms linear;
  animation: bounceIn 500ms linear;
}
.sp-submenu .sp-submenu-wrap {
  background: #fff;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
}
.sp-submenu .megacol {
  float: left;
}
.sp-submenu.sub-level-child {
  margin-left: 30px;
  margin-top: 0;
}
.sp-submenu.sub-level-child.open {
  margin-left: 0px;
}
.ltr .sp-submenu {
  left: 0;
}
.rtl .sp-submenu {
  right: 0;
}
.rtl #sp-main-menu {
  float: right;
}
.rtl #sp-main-menu ul.level-0 > li:hover >a:after,
.rtl #sp-main-menu ul.level-0 > li.active >a:after {
  margin: 0 -10px 0 0;
}
.rtl #sp-main-menu ul.level-0 > li.parent >a span.menu {
  padding: 0 10px;
  padding-right: 0;
}
.rtl #sp-main-menu li li:not(.sp-menu-group).parent >a span.menu {
  padding-right: 0;
  padding-left: 20px;
}
.menu-fixed {
  top: 0;
  width: 100%;
  -webkit-animation: fadeInDown 900ms;
  -moz-animation: fadeInDown 900ms;
  -ms-animation: fadeInDown 900ms;
  animation: fadeInDown 900ms;
}
.fixed .hidden-desktop {
  display: none;
}
.vina-menu {
  position: absolute !important;
  right: 0;
  top: -169px !important;
  padding: 8px 16px !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  width: auto !important;
  margin: 0 !important;
}
.vina-menu:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.vina-menu:after {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.vina-menu-small {
  position: absolute !important;
  right: 5px;
  top: 5px;
  padding: 4px 10px 5px !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  width: auto !important;
  margin: 0 !important;
  color: #fff !important;
}
.vina-menu-small:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.vina-menu-small:after {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  background: none !important;
}
.sp-mobile-menu {
  position: relative;
  background: #000;
  z-index: 10;
}
.sp-mobile-menu select.select-menu {
  width: 32px;
  height: 27px;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
}
.sp-mobile-menu >ul >li {
  border-bottom: 1px solid #333;
}
.sp-mobile-menu >ul >li:last-child {
  border: none;
}
.sp-mobile-menu >ul >li ul.collapse li {
  background: #333;
}
.sp-mobile-menu >ul >li ul.collapse ul li {
  background: #444;
}
.sp-mobile-menu ul {
  width: 100% !important;
}
.sp-mobile-menu ul li {
  background: rgba(0,0,0,0.9);
}
.sp-mobile-menu ul li:last-child {
  margin-bottom: 10px;
}
.sp-mobile-menu ul li a {
  color: #fff !important;
}
.sp-mobile-menu .menu-mobile-wrapper {
  position: fixed;
  width: 50%;
}
.sp-mobile-menu .mobile-inner {
  margin-top: 40px;
  overflow: auto;
  max-height: 600px;
}
.sp-mobile-menu .mobile-inner >ul >li {
  border-bottom: 1px solid #333;
  background: rgba(0,0,0,0.9);
}
.sp-mobile-menu .mobile-inner >ul >li:last-child {
  border: none;
}
.sp-mobile-menu .mobile-inner >ul >li ul.collapse li {
  background: #333;
}
.sp-mobile-menu .mobile-inner >ul >li ul.collapse ul li {
  background: #444;
}
@media (max-width: 979px) {
  .responsive .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  .responsive .row-offcanvas-left {
    left: 0;
  }
  .responsive .row-offcanvas-left
		.sidebar-offcanvas {
    left: -50%;
    right: auto;
  }
  .responsive .row-offcanvas-left.active
		.sidebar-offcanvas {
    left: 0;
    right: auto;
  }
  .responsive .row-offcanvas-left.active {
    left: 50%;
  }
  .responsive .row-offcanvas-left.active
		.sidebar-offcanvas {
    left: 0%;
  }
  .responsive .sidebar-offcanvas {
    position: fixed !important;
    top: 0 !important;
    width: 50%;
    height: auto;
    overflow-y: auto;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }
  .responsive .sidebar-offcanvas ul {
    width: 100% !important;
  }
}
@media (max-width: 599px) {
  .responsive .row-offcanvas-left
		.sidebar-offcanvas {
    left: -80%;
  }
  .responsive .row-offcanvas-left.active {
    left: 80%;
  }
  .responsive .sidebar-offcanvas {
    width: 80%;
  }
}
li.preset1:hover > a {
  background: #ED6451 !important;
}
li.preset2:hover > a {
  background: #91A924 !important;
}
li.preset3:hover > a {
  background: #BE9B69 !important;
}
li.preset4:hover > a {
  background: #f37331 !important;
}
li.preset5:hover > a {
  background: #4EA770 !important;
}
.module {
  margin-top: 20px;
}
.module:first-child {
  margin-top: 0;
}
.module h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 10px 0;
}
.module.highlighted,
.module.orange,
.module.dark,
.module.green,
.module.maroon,
.module.blue,
.module.gray,
.module.pink,
.module.red {
  padding: 20px;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.6) inset;
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.6) inset;
  box-shadow: 0 1px 5px rgba(0,0,0,0.6) inset;
}
.module.highlighted h3,
.module.orange h3,
.module.dark h3,
.module.green h3,
.module.maroon h3,
.module.blue h3,
.module.gray h3,
.module.pink h3,
.module.red h3 {
  padding: 0 0 10px 0;
  border-bottom: 1px dashed #fff;
  color: #fff;
}
.module.orange {
  background: #f89406;
}
.module.orange a {
  color: #B66B00;
}
.module.orange a:hover {
  color: #6F4100;
}
.module.dark {
  background: #000;
}
.module.dark a {
  color: #777;
}
.module.dark a:hover {
  color: #888;
}
.module.green {
  background: #46a546;
}
.module.green a {
  color: #63E063;
}
.module.green a:hover {
  color: #43F043;
}
.module.maroon {
  background: #F35D34;
}
.module.maroon a {
  color: #B4300D;
}
.module.maroon a:hover {
  color: #C93F19;
}
.module.blue {
  background: #049cdb;
}
.module.blue a {
  color: #47C9FF;
}
.module.blue a:hover {
  color: #0073A3;
}
.module.gray {
  background: #555;
}
.module.gray a {
  color: #999;
}
.module.gray a:hover {
  color: #777;
}
.module.pink {
  background: #c3325f;
}
.module.pink a {
  color: #FF5C8F;
}
.module.pink a:hover {
  color: #FA2E6E;
}
.module.vina_social {
  padding-right: 20px;
  margin-top: 16px;
}
.module.user {
  padding: 26px 0 29px;
}
.module.vina_collections {
  background: #fff;
  overflow: hidden;
}
.module.vina_collections .header {
  margin-top: 20px;
}
.module.red {
  background: #9d261d;
}
.module.red a {
  color: #EE4538;
}
.module.red a:hover {
  color: #DA3F33;
}
.module.sp-position h3 {
  border-bottom: 1px solid #ECECEC;
  padding-bottom: 10px;
}
.sp-dropcap {
  overflow: hidden;
}
.sp-dropcap:first-letter {
  color: #666;
  display: block;
  float: left;
  font-size: 50px;
  line-height: 40px;
  padding: 4px 8px 0 0;
}
ul.arrow,
ul.arrow-double,
ul.tick,
ul.cross,
ul.star,
ul.rss {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.arrow li::before,
ul.arrow li::after,
ul.arrow-double li::before,
ul.arrow-double li::after,
ul.tick li::before,
ul.tick li::after,
ul.cross li::before,
ul.cross li::after,
ul.star li::before,
ul.star li::after,
ul.rss li::before,
ul.rss li::after {
  font-family: FontAwesome;
  font-size: 11px;
}
.ltr ul.arrow li::before,
.ltr ul.arrow-double li::before,
.ltr ul.tick li::before,
.ltr ul.cross li::before,
.ltr ul.star li::before,
.ltr ul.rss li::before {
  margin-right: 5px;
}
.ltr ul.arrow li::before {
  content: "\f105";
}
.ltr ul.arrow-double li::before {
  content: "\f101";
}
.ltr ul.tick li::before {
  content: "\f00c";
}
.ltr ul.cross li::before {
  content: "\f00d";
}
.ltr ul.star li::before {
  content: "\f006";
}
.ltr ul.rss li::before {
  content: "\f09e";
}
.rtl ul.arrow li::after,
.rtl ul.arrow-double li::after,
.rtl ul.tick li::after,
.rtl ul.cross li::after,
.rtl ul.star li::after,
.rtl ul.rss li::after {
  margin-left: 5px;
}
.rtl ul.arrow li::after {
  content: "\f104";
}
.rtl ul.arrow-double li::after {
  content: "\f100";
}
.rtl ul.tick li::after {
  content: "\f00c";
}
.rtl ul.cross li::after {
  content: "\f00d";
}
.rtl ul.star li::after {
  content: "\f006";
}
.rtl ul.rss li::after {
  content: "\f09e";
}
img.pull-left,
.pull-left > img {
  margin-right: 15px;
}
img.pull-right,
.pull-right > img {
  margin-left: 15px;
}
.rtl img.pull-left,
.rtl .pull-left > img {
  margin-left: 15px;
}
.rtl img.pull-right,
.rtl .pull-right > img {
  margin-right: 15px;
}
.sp-blocknumber {
  position: relative;
  min-height: 45px;
}
.sp-blocknumber span {
  font-weight: bold;
  width: 48px;
  height: 48px;
  line-height: 48px;
  display: block;
  text-align: center;
  position: absolute;
  top: 0;
}
.sp-blocknumber span.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.sp-blocknumber span.circle {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.ltr .sp-blocknumber {
  padding: 5px 0 5px 60px;
}
.ltr .sp-blocknumber span {
  left: 0;
}
.rtl .sp-blocknumber {
  padding: 5px 60px 5px 0;
}
.rtl .sp-blocknumber span {
  right: 0;
}
.sp-block.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.sp-bubble {
  position: relative;
  margin-bottom: 40px;
}
.sp-bubble cite {
  display: block;
  height: 30px;
  line-height: 36px;
  position: absolute;
  bottom: -30px;
}
.sp-bubble cite span {
  content: ' ';
  position: absolute;
  top: 0;
  display: block;
  width: 0;
  height: 0;
  border-bottom-color: transparent !important;
}
.ltr .sp-bubble cite {
  left: 15px;
  padding-left: 40px;
}
.ltr .sp-bubble cite span {
  left: 0;
  border-left-color: transparent !important;
}
.rtl .sp-bubble cite {
  right: 15px;
  padding-right: 40px;
}
.rtl .sp-bubble cite span {
  right: 0;
  border-right-color: transparent !important;
}
.ltr [class^="icon-"].pull-left,
.ltr [class*=" icon-"].pull-left {
  margin-right: .3em;
}
.ltr [class^="icon-"].pull-right,
.ltr [class*=" icon-"].pull-right {
  margin-left: .3em;
}
.rtl [class^="icon-"].pull-left,
.rtl [class*=" icon-"].pull-left {
  margin-left: .3em;
}
.rtl [class^="icon-"].pull-right,
.rtl [class*=" icon-"].pull-right {
  margin-right: .3em;
}
.rtl #mod-search-searchword {
  margin-left: 12px;
}
.rtl .vina-menubottom li:hover {
  padding-right: 10px;
}
.rtl #sp-main-menu ul.level-0 > li.parent > a {
  padding: 15px 15px 15px 25px;
}
.rtl #sp-main-menu ul.level-0 > li.parent > a:before {
  right: 80%;
}
.rtl #sp-main-menu li li.parent:not(.sp-menu-group) > a:after {
  right: 90%;
}
.rtl .tcvn-scroller-k2.theme1 .toolbar {
  right: 1125px;
}
.rtl .tcvn-scroller-k2.theme1 .left:hover {
  margin-right: 20px;
  margin-left: 0;
}
.rtl .tcvn-scroller-k2.theme1 .right:hover {
  margin-right: -50px;
}
.rtl .custom.vina_oursv .accordion-toggle:before {
  right: 545px;
}
.rtl .vina-testimonal .carousel-control.left {
  right: 220px;
}
.rtl .vina-testimonal .carousel-control.right {
  right: 250px;
}
.rtl .vina-categories li:before {
  float: right;
}
.rtl .vina-categories li a {
  padding-right: 10px;
}
.rtl .vina-categories li:hover {
  padding-right: 20px;
}
.no-modal {
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  left: auto;
  margin-left: auto;
  outline: 0 none;
  position: inherit;
  top: auto;
  margin-right: auto;
}
.text-hidden span {
  display: none;
}
.border {
  border: 1px solid ;
}
.rtl .pull-left {
  float: right;
}
.rtl .pull-right {
  float: left;
}
.icon-hidden span {
  display: none !important;
}
#vina_pricing_table {
  padding: 0 20px 20px;
  -webkit-transform: translateZ(0);
}
#vina_pricing_table .pricing_table .thumbnail {
  background: #fff;
  padding: 10px 4px 20px;
  -webkit-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  overflow: hidden;
}
#vina_pricing_table .pricing_table .thumbnail .badge h2 {
  font-size: 50px;
  line-height: normal;
}
#vina_pricing_table .pricing_table .thumbnail button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  z-index: 0;
  position: relative;
  text-shadow: none;
  vertical-align: middle;
  overflow: hidden;
  border: 0;
}
#vina_pricing_table .pricing_table .thumbnail button:after {
  bottom: 50%;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  -webkit-transition: all 600ms ease 0s;
  -moz-transition: all 600ms ease 0s;
  -o-transition: all 600ms ease 0s;
  transition: all 600ms ease 0s;
  width: 100%;
  z-index: -1;
}
#vina_pricing_table .pricing_table .thumbnail button:hover:after,
#vina_pricing_table .pricing_table .thumbnail button:focus:after {
  bottom: 0;
  height: 100%;
  width: 100%;
}
#vina_pricing_table .pricing_table .thumbnail:hover >h2 {
  -webkit-animation: moveFromTop 500ms ease;
  -moz-animation: moveFromTop 500ms ease;
  -ms-animation: moveFromTop 500ms ease;
  animation: moveFromTop 500ms ease;
}
#vina_pricing_table .pricing_table .thumbnail:hover .badge {
  -webkit-animation: swing 1500ms ease;
  -moz-animation: swing 1500ms ease;
  -ms-animation: swing 1500ms ease;
  animation: swing 1500ms ease;
}
#vina_pricing_table .pricing_table .thumbnail:hover p {
  -webkit-animation: moveFromBottom 500ms ease;
  -moz-animation: moveFromBottom 500ms ease;
  -ms-animation: moveFromBottom 500ms ease;
  animation: moveFromBottom 500ms ease;
}
#vina_pricing_table .pricing_table .thumbnail:hover button {
  -webkit-animation: bounceInLeft 500ms ease;
  -moz-animation: bounceInLeft 500ms ease;
  -ms-animation: bounceInLeft 500ms ease;
  animation: bounceInLeft 500ms ease;
}
#vina_pricing_table .testimonial .media-body {
  overflow: visible;
}
#vina_pricing_table .testimonial .media-body .testimonial-content {
  padding-bottom: 20px;
  border-bottom: 1px dashed #aaaaaa;
}
#vina_pricing_table .testimonial .media-body .testimonial-author {
  margin-top: 20px !important;
  text-align: center;
}
#vina_pricing_table .testimonial .media-body .testimonial-author .pull-left {
  float: none;
  margin: 0;
}
#vina_pricing_table .testimonial .media-body .testimonial-author .pull-left img {
  margin-right: 0;
}
#vina_company h3 {
  text-align: center;
}
#vina_company .img-polaroid {
  position: relative;
  overflow: hidden;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#vina_company .img-polaroid figure {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 207px;
  margin: 0;
}
#vina_company .img-polaroid figure:hover .contact a {
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}
#vina_company .img-polaroid figure img {
  display: block;
  height: 100%;
  width: 100%;
}
#vina_company .img-polaroid figure .contact {
  z-index: 2;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#vina_company .img-polaroid figure .contact a {
  position: absolute;
  display: block;
  width: 50%;
  height: 50%;
  background-repeat: no-repeat;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
#vina_company .img-polaroid figure .contact a em:before {
  font-size: 30px;
  color: #fff;
  display: block;
  text-align: center;
  line-height: 104px;
}
#vina_company .img-polaroid figure .contact .tw {
  top: 0;
  left: 0;
  background-color: rgba(0,172,238,0.7);
  -webkit-transform: translate(-100%,-100%);
  -moz-transform: translate(-100%,-100%);
  -ms-transform: translate(-100%,-100%);
  -o-transform: translate(-100%,-100%);
  transform: translate(-100%,-100%);
}
#vina_company .img-polaroid figure .contact .tw:hover {
  background-color: #00acee;
}
#vina_company .img-polaroid figure .contact .fb {
  top: 0;
  right: 0;
  background-color: rgba(59,89,152,0.7);
  -webkit-transform: translate(100%,-100%);
  -moz-transform: translate(100%,-100%);
  -ms-transform: translate(100%,-100%);
  -o-transform: translate(100%,-100%);
  transform: translate(100%,-100%);
}
#vina_company .img-polaroid figure .contact .fb:hover {
  background-color: #3b5998;
}
#vina_company .img-polaroid figure .contact .gp {
  bottom: 0;
  left: 0;
  background-color: rgba(221,75,57,0.7);
  -webkit-transform: translate(-100%,100%);
  -moz-transform: translate(-100%,100%);
  -ms-transform: translate(-100%,100%);
  -o-transform: translate(-100%,100%);
  transform: translate(-100%,100%);
}
#vina_company .img-polaroid figure .contact .gp:hover {
  background-color: #dd4b39;
}
#vina_company .img-polaroid figure .contact .ma {
  bottom: 0;
  right: 0;
  background-color: rgba(153,153,153,0.7);
  -webkit-transform: translate(100%,100%);
  -moz-transform: translate(100%,100%);
  -ms-transform: translate(100%,100%);
  -o-transform: translate(100%,100%);
  transform: translate(100%,100%);
}
#vina_company .img-polaroid figure .contact .ma:hover {
  background-color: #999999;
}
#vina_company #sp_simple_map_canvas {
  border: 1px solid #aaaaaa;
}
#vina_company .info .thumbnail {
  -webkit-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  background: #fff;
  overflow: hidden;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#vina_company .info .thumbnail .sp-blocknumber >span {
  margin-top: 28px;
}
#vina_company .info .thumbnail:hover .sp-blocknumber {
  -webkit-animation: moveFromTop 500ms ease;
  -moz-animation: moveFromTop 500ms ease;
  -ms-animation: moveFromTop 500ms ease;
  animation: moveFromTop 500ms ease;
}
#vina_company .info .thumbnail:hover .sp-blocknumber >span {
  -webkit-animation: bounceInLeft 500ms ease;
  -moz-animation: bounceInLeft 500ms ease;
  -ms-animation: bounceInLeft 500ms ease;
  animation: bounceInLeft 500ms ease;
}
#vina_about_us h3,
#vina_about_us h4 {
  font-weight: normal;
}
#vina_about_us .about_us_header {
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 15px;
}
#vina_about_us .progress {
  margin-bottom: 12px;
}
#vina_about_us .carousel {
  margin-top: 10px;
  padding: 20px 60px;
  background: #fff;
  line-height: normal;
}
#vina_about_us .carousel .item {
  padding: 7px;
}
#vina_about_us .carousel .item .incon_bg {
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 24px;
  color: #fff;
}
#vina_about_us .carousel .item h4 {
  margin-top: 13px;
}
#vina_about_us .carousel .item p {
  float: left;
  margin-top: 10px;
}
#vina_about_us .carousel .item .item_do {
  overflow: hidden;
}
#vina_about_us .carousel .item .item_do:hover .incon_bg {
  -webkit-animation: moveFromTop 500ms ease;
  -moz-animation: moveFromTop 500ms ease;
  -ms-animation: moveFromTop 500ms ease;
  animation: moveFromTop 500ms ease;
}
#vina_about_us .carousel .item .item_do:hover h4 {
  -webkit-animation: moveFromRight 1000ms ease;
  -moz-animation: moveFromRight 1000ms ease;
  -ms-animation: moveFromRight 1000ms ease;
  animation: moveFromRight 1000ms ease;
}
#vina_about_us .carousel .item .item_do:hover p {
  -webkit-animation: bounceInLeft 1000ms ease;
  -moz-animation: bounceInLeft 1000ms ease;
  -ms-animation: bounceInLeft 1000ms ease;
  animation: bounceInLeft 1000ms ease;
}
#vina_about_us .carousel .carousel-control {
  -webkit-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  outline: none;
  border: 0;
  top: 50%;
  background: transparent;
}
#vina_about_us .carousel .carousel-control.left {
  left: -100px;
}
#vina_about_us .carousel .carousel-control.right {
  right: -100px;
}
#vina_about_us .carousel:hover .carousel-control:hover {
  color: #fff;
}
#vina_about_us .carousel:hover .carousel-control.left {
  left: 10px;
}
#vina_about_us .carousel:hover .carousel-control.left:hover {
  left: 5px;
}
#vina_about_us .carousel:hover .carousel-control.right {
  right: 10px;
}
#vina_about_us .carousel:hover .carousel-control.right:hover {
  right: 5px;
}
#vina_about_us .skill ul {
  margin: 0;
  padding: 0;
}
#vina_about_us .skill ul li {
  list-style: none;
  padding-left: 20px;
  margin-bottom: 20px;
}
#vina_about_us .skill .progress {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#vina_contact_us .contact_us {
  padding: 10px 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#vina_contact_us .contact_us h3 {
  line-height: 20px;
}
#vina_contact_us .contact_us .qlform {
  position: relative;
}
#vina_contact_us .contact_us .qlform form {
  margin-bottom: 0;
}
#vina_contact_us .contact_us .qlform .control-group {
  margin-bottom: 5px;
}
#vina_contact_us .contact_us .qlform .control-group .control-label {
  width: 100%;
  text-align: left;
}
#vina_contact_us .contact_us .qlform .control-group .controls {
  width: 100%;
  display: block;
  margin: 0;
}
#vina_contact_us .contact_us .qlform .control-group .controls input,
#vina_contact_us .contact_us .qlform .control-group .controls textarea {
  height: auto;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#vina_contact_us .contact_us .qlform .control-group .controls input[type="submit"] {
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  z-index: 0;
  position: relative;
  text-shadow: none;
  vertical-align: middle;
  overflow: hidden;
}
#vina_contact_us .contact_us .qlform .control-group .controls input[type="submit"]:after {
  bottom: 50%;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  -webkit-transition: all 600ms ease 0s;
  -moz-transition: all 600ms ease 0s;
  -o-transition: all 600ms ease 0s;
  transition: all 600ms ease 0s;
  width: 100%;
  z-index: -1;
}
#vina_contact_us .contact_us .qlform .control-group .controls input[type="submit"]:hover:after,
#vina_contact_us .contact_us .qlform .control-group .controls input[type="submit"]:focus:after {
  bottom: 0;
  height: 100%;
  width: 100%;
}
#vina_contact_us .contact_us .qlform .control-group .controls input[type="submit"]:hover,
#vina_contact_us .contact_us .qlform .control-group .controls input[type="submit"]:focus {
  color: #fff;
}
#vina_contact_us .contact_us .qlform .control-group .controls textarea {
  height: 135px;
}
#vina_contact_us .contact_us .qlform .control-group.jform_name {
  width: 47%;
  margin-right: 6%;
  float: left;
}
#vina_contact_us .contact_us .qlform .control-group.jform_email {
  width: 47%;
  float: left;
}
#vina_contact_us .map {
  background: #fff;
  padding: 15px 20px 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: relative;
}
#vina_contact_us .map span {
  margin: 10px 0 0;
  display: inline;
  width: 100%;
}
#vina_contact_us .map span em {
  display: inline-block;
  margin-right: 2px;
  width: 20px;
}
#vina_contact_us .map span.contact {
  margin-bottom: 9px;
  display: block;
}
#vina_contact_us ul.social {
  text-align: center;
  position: absolute;
  margin: 0;
  top: 20%;
  left: -42px;
}
#vina_contact_us ul.social li {
  list-style: none;
  margin-bottom: 20px;
}
#vina_contact_us ul.social li a {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  outline: none;
  text-align: center;
  padding: 0;
  text-decoration: none;
  -webkit-transition: all 500ms linear 0s;
  -moz-transition: all 500ms linear 0s;
  -o-transition: all 500ms linear 0s;
  transition: all 500ms linear 0s;
  overflow: hidden;
  text-shadow: none;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#vina_contact_us ul.social li a em {
  font-size: 24px;
  -webkit-transition: all 500ms linear 0s;
  -moz-transition: all 500ms linear 0s;
  -o-transition: all 500ms linear 0s;
  transition: all 500ms linear 0s;
  color: #fff;
  font-weight: bold;
  display: block !important;
  margin-top: 12px;
}
#vina_contact_us ul.social li a:hover {
  background: #fff;
}
#vina_contact_us ul.social li a:hover em {
  -webkit-animation: moveFromTop 500ms ease;
  -moz-animation: moveFromTop 500ms ease;
  -ms-animation: moveFromTop 500ms ease;
  animation: moveFromTop 500ms ease;
}
.carousel-inner > .item > img {
  width: 100%;
}
.carousel-inner > .item > a > img {
  width: 100%;
}
.carousel-caption {
  color: #fff;
}
.category-blogs .readmore {
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  z-index: 0;
  position: relative;
  text-shadow: none;
  vertical-align: middle;
  overflow: hidden;
}
.category-blogs .readmore:after {
  bottom: 50%;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  -webkit-transition: all 600ms ease 0s;
  -moz-transition: all 600ms ease 0s;
  -o-transition: all 600ms ease 0s;
  transition: all 600ms ease 0s;
  width: 100%;
  z-index: -1;
}
.category-blogs .readmore:hover:after,
.category-blogs .readmore:focus:after {
  bottom: 0;
  height: 100%;
  width: 100%;
}
.item-page {
  padding: 10px;
}
.item-page.category-blogs .pull-left {
  overflow: hidden;
  margin-left: 1px;
  position: relative;
}
.item-page.category-blogs .pull-left img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: 0;
  padding: 0;
  width: 100% !important;
}
.item-page.category-blogs .pull-left:hover img {
  -webkit-transform: scale(1.15) rotate(-1.75deg);
  -moz-transform: scale(1.15) rotate(-1.75deg);
  -o-transform: scale(1.15) rotate(-1.75deg);
  transform: scale(1.15) rotate(-1.75deg);
}
.item-page.category-blogs .entry-content {
  border: 1px solid #EEEEEE;
  overflow: hidden;
  padding: 10px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #vina_contact_us .contact_us .qlform .control-group .controls textarea {
    height: 126px;
  }
}
@media (max-width: 1300px) {
  .responsive #vina_company .info .thumbnail {
    min-height: 170px;
  }
  .responsive #vina_contact_us ul.social {
    left: -34px;
  }
  .responsive #vina_contact_us ul.social li a {
    height: 44px;
    width: 44px;
  }
  .responsive #vina_contact_us ul.social li a span {
    margin-top: 10px;
  }
  .responsive #vina_contact_us .map span.contact {
    margin: 0 0 2px 0;
  }
}
@media (max-width: 979px) {
  .responsive #vina_company .img-polaroid {
    width: 45%;
    margin: 10px 2%;
  }
  .responsive #vina_company .info .thumbnail {
    width: 100%;
    margin: 10px 0;
    min-height: 10px;
  }
  .responsive #vina_contact_us .contact_us h3 {
    margin-top: 0;
  }
  .responsive #vina_contact_us .contact_us .qlform .control-group.jform_name,
  .responsive #vina_contact_us .contact_us .qlform .control-group.jform_email {
    margin-right: 0;
    width: 100%;
  }
  .responsive #vina_contact_us .map span {
    margin-top: 20px;
  }
  .responsive #vina_contact_us .map span.contact {
    margin-top: 14px;
    margin-bottom: 7px;
  }
}
@media (max-width: 767px) {
  .responsive #vina_company .img-polaroid {
    margin: 10px auto;
  }
  .responsive #vina_pricing_table .pricing_table .thumbnail {
    margin-bottom: 20px;
  }
  .responsive #vina_contact_us .contact_us {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .responsive #vina_contact_us .map {
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .responsive #vina_contact_us ul.social {
    left: auto;
    margin-left: -20px;
    width: 100%;
    top: -42px;
  }
  .responsive #vina_contact_us ul.social li {
    display: inline-block;
  }
}
@media (max-width: 479px) {
  .responsive #vina_about_us .carousel {
    padding: 20px 40px;
  }
  .responsive #vina_about_us .carousel .item .incon_bg {
    display: inline-block;
    float: left;
    margin-right: 10px;
  }
  .responsive #vina_about_us .carousel .item h4 {
    margin-top: 4px;
  }
  .responsive #vina_company .img-polaroid {
    width: 100%;
  }
  .responsive #vina_pricing_table {
    padding-left: 15px;
    padding-right: 15px;
  }
  .responsive #vina_contact_us .contact_us,
  .responsive #vina_contact_us .map {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 319px) {
  .responsive #vina_about_us .carousel {
    padding: 0 10px;
  }
  .responsive #vina_about_us .carousel .item .item_do {
    padding-bottom: 20px;
    padding-top: 25px;
  }
}
@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
}
@-moz-keyframes moveFromLeft {
  from {
    -moz-transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0%);
    opacity: 1;
  }
}
@-ms-keyframes moveFromLeft {
  from {
    -ms-transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -ms-transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes moveFromRight {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(0%);
  }
}
@-ms-keyframes moveFromRight {
  from {
    -ms-transform: translateX(100%);
  }
  to {
    -ms-transform: translateX(0%);
  }
}
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(200%) scale(0.5);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%) scale(1);
    opacity: 1;
  }
}
@-moz-keyframes moveFromBottom {
  from {
    -moz-transform: translateY(200%) scale(0.5);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0%) scale(1);
    opacity: 1;
  }
}
@-ms-keyframes moveFromBottom {
  from {
    -ms-transform: translateY(200%) scale(0.5);
    opacity: 0;
  }
  to {
    -ms-transform: translateY(0%) scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes moveFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-200%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@-moz-keyframes moveFromTop {
  from {
    opacity: 0;
    -moz-transform: translateY(-200%);
  }
  to {
    opacity: 1;
    -moz-transform: translateY(0%);
  }
}
@-ms-keyframes moveFromTop {
  from {
    opacity: 0;
    -ms-transform: translateY(-200%);
  }
  to {
    opacity: 1;
    -ms-transform: translateY(0%);
  }
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(.9);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(.3);
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1.05);
  }
  70% {
    -moz-transform: scale(.9);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-ms-keyframes bounceIn {
  0% {
    opacity: 0;
    -ms-transform: scale(.3);
  }
  50% {
    opacity: 1;
    -ms-transform: scale(1.05);
  }
  70% {
    -ms-transform: scale(.9);
  }
  100% {
    -ms-transform: scale(1);
  }
}
@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -o-transform: scale(.3);
  }
  50% {
    opacity: 1;
    -o-transform: scale(1.05);
  }
  70% {
    -o-transform: scale(.9);
  }
  100% {
    -o-transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes swing {
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transform-origin: top center;
  }
  20% {
    -webkit-transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes swing {
  20% {
    -moz-transform: rotate(15deg);
  }
  40% {
    -moz-transform: rotate(-10deg);
  }
  60% {
    -moz-transform: rotate(5deg);
  }
  80% {
    -moz-transform: rotate(-5deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-ms-keyframes swing {
  20% {
    -ms-transform: rotate(15deg);
  }
  40% {
    -ms-transform: rotate(-10deg);
  }
  60% {
    -ms-transform: rotate(5deg);
  }
  80% {
    -ms-transform: rotate(-5deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}
@-o-keyframes swing {
  20% {
    -o-transform: rotate(15deg);
  }
  40% {
    -o-transform: rotate(-10deg);
  }
  60% {
    -o-transform: rotate(5deg);
  }
  80% {
    -o-transform: rotate(-5deg);
  }
  100% {
    -o-transform: rotate(0deg);
  }
}
@keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes fontsize {
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transform-origin: top center;
  }
  20% {
    font-size: 20%;
  }
  40% {
    font-size: 40%;
  }
  60% {
    font-size: 60%;
  }
  80% {
    font-size: 80%;
  }
  100% {
    font-size: 100%;
  }
}
@-moz-keyframes fontsize {
  20% {
    font-size: 20%;
  }
  40% {
    font-size: 40%;
  }
  60% {
    font-size: 60%;
  }
  80% {
    font-size: 80%;
  }
  100% {
    font-size: 100%;
  }
}
@-ms-keyframes fontsize {
  20% {
    font-size: 20%;
  }
  40% {
    font-size: 40%;
  }
  60% {
    font-size: 60%;
  }
  80% {
    font-size: 80%;
  }
  100% {
    font-size: 100%;
  }
}
@-o-keyframes fontsize {
  20% {
    font-size: 20%;
  }
  40% {
    font-size: 40%;
  }
  60% {
    font-size: 60%;
  }
  80% {
    font-size: 80%;
  }
  100% {
    font-size: 100%;
  }
}
@keyframes fontsize {
  20% {
    font-size: 20%;
  }
  40% {
    font-size: 40%;
  }
  60% {
    font-size: 60%;
  }
  80% {
    font-size: 80%;
  }
  100% {
    font-size: 100%;
  }
}
@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(30px);
  }
  80% {
    -moz-transform: translateX(-10px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@-ms-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -ms-transform: translateX(30px);
  }
  80% {
    -ms-transform: translateX(-10px);
  }
  100% {
    -ms-transform: translateX(0);
  }
}
@-o-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -o-transform: translateX(30px);
  }
  80% {
    -o-transform: translateX(-10px);
  }
  100% {
    -o-transform: translateX(0);
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@media (max-width: 1280px) {
  .responsive .vina-blogs .media-body {
    overflow: visible;
  }
  .responsive .vina-blogs .moduleItemDateCreated {
    margin-top: 10px;
    display: inline-block;
  }
  .responsive #sp-main-menu ul.level-0 > li > a {
    padding: 15px 10px;
    border-right: 5px solid #fff;
  }
  .responsive #sp-main-menu ul.level-0 > li > a:before {
    right: 5px;
  }
  .responsive #sp-main-menu ul.level-0 > li.parent >a {
    padding: 15px 20px 15px 10px;
  }
}
@media (max-width: 979px) {
  .responsive #sp-search .search form input {
    width: 136px;
  }
  .responsive #sp-menu-wrapper .container {
    position: relative;
  }
  .responsive .vina_mncontact {
    float: left;
  }
  .responsive .sp-user.media .media-body {
    text-align: center;
    padding-bottom: 13px;
    padding-top: 0;
    margin-top: 10px;
    display: inline-block;
  }
  .responsive .sp-user.media .pull-left {
    width: 100%;
  }
  .responsive .sp-user .ic {
    margin: 15px auto 0 !important;
  }
  .responsive .sp-position h3 {
    font-size: 18px;
  }
  .responsive .vina_promotion h1 {
    font-size: 19px;
  }
  .responsive #k2Container.itemView h1.itemTitle {
    margin-right: 60px;
  }
  .responsive #k2Container.itemListView .catItemTitle {
    margin-right: 40px;
    font-size: 22px;
  }
  .responsive #k2Container.itemListView .vina-category-title {
    font-size: 26px;
  }
  .responsive .vina-blogs .moduleItemImage {
    margin-bottom: 5px;
    float: left;
  }
  .responsive .module.vina_social {
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .responsive [class*="span"] {
    width: 100%;
  }
  .responsive #sp-header-wrapper .logo-wrapper .logo {
    margin: 0;
    background-size: 75% auto;
  }
  .responsive #sp-menu {
    min-height: 0;
  }
  .responsive .vina-menu {
    right: 20px;
    top: -173px !important;
  }
  .responsive .vina_mncontact {
    margin-left: 60px;
  }
  .responsive #sp-footer-wrapper #sp-footer2 {
    text-align: center;
  }
  .responsive .vina_promotion button {
    float: left;
  }
  .responsive .module.vina_social {
    padding-right: 0;
    width: 100%;
  }
  .responsive .module.user {
    padding: 0;
  }
  .responsive .vina_social {
    float: left;
    margin-top: 7px;
  }
  .responsive .vina_social p {
    text-align: center;
  }
  .responsive .vina_social ul {
    text-align: center;
  }
  .responsive .vina_social ul li {
    display: inline-block;
    float: none;
  }
  .responsive .tcvn-slit-slider .sl-slider-wrapper .bg-img .slit-text blockquote {
    margin-top: 14px;
    padding: 15px;
  }
  .responsive .tcvn-slit-slider .sl-slider-wrapper .bg-img .slit-text h2 span {
    font-size: 36px;
  }
  .responsive #users {
    padding-top: 25px;
  }
  .responsive #users .span3:last-child .sp-user {
    border-bottom: 0;
  }
  .responsive .sp-user {
    overflow: hidden;
    border-bottom: 1px solid #CCCCCC;
  }
  .responsive .sp-user.media .pull-left {
    width: auto;
    margin-right: 30px;
    margin-left: 8px;
  }
  .responsive .sp-user.media .media-body {
    overflow: hidden;
    padding-top: 28px;
    display: inherit;
    text-align: left;
  }
  .responsive.bg {
    padding-left: 0;
    padding-right: 0;
  }
  .responsive .container {
    max-width: 600px;
    min-width: 180px;
    padding: 0 20px;
  }
}
@media (max-width: 599px) {
  .responsive .tcvn-slit-slider .sl-slider-wrapper .bg-img .slit-text {
    top: 40px;
  }
  .responsive .tcvn-slit-slider .sl-slider-wrapper .bg-img .slit-text h2 span {
    font-size: 24px;
  }
  .responsive .tcvn-slit-slider .sl-slider-wrapper .bg-img .slit-text .buttonlight.morebutton {
    font-size: 12px;
  }
  .responsive .sp-user {
    padding-bottom: 3px;
  }
  .responsive .sp-user.media .media-body {
    padding-top: 4px;
    text-align: center;
  }
  .responsive .vina-item-last ul {
    margin: 0;
  }
  .responsive #k2Container.itemView .itemImageBlock {
    padding-right: 0;
    width: 100%;
  }
  .responsive #k2Container.itemView .itemImageBlock .itemImage {
    width: 100%;
  }
  .responsive #k2Container.itemView .itemImageBlock .itemImage a {
    position: inherit;
  }
  .responsive #k2Container.itemListView .itemList .itemContainer .catItemImageBlock {
    margin-right: 0;
    padding-right: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  .responsive #k2Container.itemListView .itemList .itemContainer .catItemImageBlock img {
    width: 100% !important;
  }
}
@media (max-width: 479px) {
  .responsive .container {
    padding: 0 10px;
  }
  .responsive #sp-header-wrapper .logo-wrapper .logo {
    background-position: left center;
    background-size: 60% auto;
  }
  .responsive .vina_social {
    width: 100%;
  }
  .responsive .vina-menu {
    right: 10px;
  }
  .responsive .tcvn-slit-slider {
    display: none;
  }
  .responsive #sp-feature-wrapper {
    padding: 0;
  }
  .responsive #sp-feature-wrapper #sp-feature {
    min-height: 18px;
  }
  .responsive .sp-user.media .pull-left {
    margin: 0;
  }
  .responsive .sp-user.media .media-body {
    text-align: center;
    padding-bottom: 13px;
    padding-top: 0;
  }
  .responsive .sp-user .ic {
    margin: 15px auto 0 !important;
  }
  .responsive .custom.vina_oursv .accordion-toggle {
    line-height: 16px;
  }
  .responsive .custom.vina_oursv .accordion-body.collapse.in:after {
    top: -40px;
  }
  .responsive #k2Container.itemView .itemHeader .itemDateCreated {
    height: 70px;
    width: 70px;
  }
  .responsive #k2Container.itemView .itemHeader .itemDateCreated span.vina_d {
    font-size: 14px;
  }
  .responsive #k2Container.itemView .itemHeader .itemDateCreated span.vina_m {
    font-size: 12px;
  }
  .responsive #k2Container.itemView .itemHeader .itemDateCreated span.vina_y {
    font-size: 14px;
  }
  .responsive #k2Container.itemView .itemHeader h1.itemTitle {
    font-size: 18px;
    line-height: 24px;
    padding-top: 0;
  }
  .responsive div.itemContentFooter {
    text-align: left;
  }
  .responsive div.itemTwitterButton {
    display: inline-block;
    float: none;
  }
  .responsive div.itemGooglePlusOneButton {
    display: inline-block;
  }
  .responsive div.k2LatestCommentsBlock ul li .k2Avatar {
    float: left;
  }
  .responsive div.itemCommentsForm form input.inputbox {
    width: 100%;
  }
  .responsive div.itemCommentsForm form textarea.inputbox {
    width: 100%;
  }
}
@media (max-width: 319px) {
  .responsive #sp-top-wrapper #sp-top2 {
    margin-top: 33px;
  }
  .responsive .vina_mncontact {
    margin-left: 0;
  }
  .responsive .vina-menu {
    float: left;
    right: 0;
    top: -136px !important;
    width: 100% !important;
  }
  .responsive .module.vina_social {
    padding-top: 42px;
  }
  .responsive .vina_mncontact {
    float: left;
  }
  .responsive .vina_mncontact li:first-child a {
    padding-left: 0;
  }
  .responsive .tcvn-scroller-k2.theme1 .toolbar {
    display: none;
  }
  .responsive #sp-header-wrapper .logo-wrapper .logo {
    background-size: 63% auto;
  }
  .responsive .vina_social ul li {
    margin-right: 0;
  }
  .responsive #sp-search .search {
    margin-top: 20px;
  }
  .responsive #sp-search .search form input {
    margin-right: 12px;
  }
  .responsive #k2Container.itemView .itemHeader h1.itemTitle {
    font-size: 16px;
    line-height: 20px;
    margin-right: 45px;
  }
  .responsive #k2Container.itemListView .vina-category-title {
    font-size: 18px;
  }
}
@media (max-width: 1280px) {
  .rtl.responsive #sp-main-menu ul.level-0 > li.parent > a {
    padding: 15px 10px 15px 15px;
  }
  .rtl.responsive .vina-menu {
    right: inherit;
    left: 0;
  }
  .rtl.responsive .vina_mncontact {
    float: right;
  }
  .rtl.responsive .sp-mobile-menu ul li {
    padding-right: 54px;
  }
}
@media (max-width: 767px) {
  .rtl.responsive .vina_mncontact {
    float: left;
    margin: -30px 0 0;
  }
  .rtl.responsive .vina-menu {
    left: 20px;
  }
  .rtl.responsive #sp-header-wrapper .logo-wrapper .logo {
    background-position: right center;
  }
}
@media (max-width: 479px) {
  .rtl.responsive .vina-menu {
    left: 10px;
  }
}
@media (max-width: 319px) {
  .rtl.responsive #sp-top-wrapper #sp-top2 {
    margin-top: 52px;
  }
}
.fixed .hidden-desktop {
  display: none;
}
